/* Estilos para los botones */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilos para la lista de productos */
  #lista-producto {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #lista-producto li {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 300px;
    text-align: center;
  }
  
  #lista-producto li input {
    margin: 5px;
  }
  
  #lista-producto li img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  /* Estilos para la lista de carrito */
  #lista-carrito {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #lista-carrito li {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilos para los totales */
  #totales {
    margin-top: 20px;
  }
  
  #totales div {
    margin-bottom: 10px;
  }

  .mi-clase-personalizada .toastify-content {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
  }

  /* nuevos estilos para los botones de cantidad */
  .boton-aumentar {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .boton-disminuir {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .boton-quitar {
    background-color: #555555;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

/* nuevo estilo para la cantidad actual */
.cantidad {
  font-weight: bold;
  margin: 0 5px;
}

.swal-wide {
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
}